<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="/style.css" /> 
  <title>Websocket Chat</title>
  <script type="text/javascript" src="/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/chat.js"></script>
</head>
<body>
  <header>
    <h1>Websocket Chat</h1>
  </header>
  
  <div id="wrapper">
    <div id="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>